//グリッドシステム
$gridTotal: 12; //カラム分割数
$gridMargin: space(l); //カラム同士の余白
$bpKeys: map-keys($bp); //ブレイクポイント判定用のキーを抽出したリスト、キーはvaliable.scss参照

.c-row { //グリッド大枠
  @include flexSet($jc: space-between);
}
[class*="c-column"] { //グリッドシステムのリセット
  @include gridReset(space(l));
}
.c-column { //カラム
  @for $i from 1 through $gridTotal {
    $gridWidth: floor(((100 / $gridTotal) * $i) * 1%);
    &__#{$i} {
      flex: 0 0 #{$gridWidth};
      width: 100%;
      @if $i == $gridTotal {
        max-width: 100%;
      } @else {
        max-width: calc(#{$gridWidth} - (#{$gridMargin} / 2));
      }
    }
    @each $key in $bpKeys { //ブレイクポイント用
      @include mq($key) {
        &__#{$i}--#{$key} {
          flex: 0 0 #{$gridWidth};
          margin-top: 0;
          width: 100%;
          @if $i == $gridTotal {
            max-width: 100%;
          } @else {
            max-width: calc(#{$gridWidth} - (#{$gridMargin} / 2));
          }
        }
      }
    }
  }
}